/* Set variables for reusability */
:root {
  --nav: #314e52;
  --nav-text: #fff;
  --oddSection: #e1c699;
  --evenSection: #fff;
  --timeline-circle: #c23941;
  --timeline-card: #314e52;
  --time: #303249;
  --time-text: #fff;
}

html {
  scroll-behavior: smooth;
}

/* Prevent sizing/positioning collisions
*  Set secondary text as Open Sans
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Header Section */
#brand {
  font-family: "Roboto", sans-serif;
}

#nav-color {
  background-color: var(--nav);
}

/* CSS Bootstrap Override */
.navbar-light .navbar-brand {
  color: var(--nav-text);
}

.navbar-light .navbar-toggler {
  color: var(--nav-text);
}

.navbar-toggler,
.collapsed,
.navbar-toggler-icon {
  color: var(--nav-text);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--nav-text);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--nav-text);
}
/* End of Override */

#header {
  height: 70vh;
  background-color: var(--oddSection);
}

#header-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#header-container > .row {
  width: 100%;
}

#caption {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#profile-image {
  background-image: url("../images/me.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 40vh;
  border-radius: 1000px;
  border: solid 3px #fff;
  margin: auto;
}

/* About Section */
#about {
  background-color: var(--evenSection);
  height: 150vh;
  display: inline;
}

.timeline {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  height: 100%;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.content {
  background-color: var(--timeline-card);
}

/* Projects Section */
#projects {
  background-color: var(--oddSection);
  height: 60vh;
}

#thesis {
  background-image: url("../images/thesis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  border: solid 3px #fff;
}

.tech-stack {
  display: flex;
  justify-content: center;
}

#flask {
  background-color: gray;
  color: #fff;
  width: fit-content;
}

#nuxtjs {
  background-color: lightgreen;
  color: #000;
  width: fit-content;
}

/* Contact Section */
#contact {
  background-color: var(--evenSection);
  height: 50vh;
  display: inline;
}

#about > .row,
#projects > .row {
  margin: 20px auto;
}

#projects > h2 {
  padding-top: 20px;
}

#about > h2,
#contact > h2,
#projects > h2 {
  text-align: center;
}

#form {
  height: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  bottom: 0;
  text-align: center;
  margin-top: 20px;
}

footer > .lead {
  font-size: 0.8rem;
}

#button {
  position: absolute;
  right: 0;
}

/* Additional Responsiveness */
/* Extra small devices */
@media only screen and (max-width: 600px) {
  #header {
    height: 80vh;
  }

  #about > h2 {
    margin-top: -35px;
  }

  #projects {
    height: 70vh;
  }

  .timeline ul li {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .time {
    background-color: var(--time);
    color: var(--time-text);
    border-radius: 18px;
    margin-top: 5px;
    padding: 8px 16px;
    z-index: 1;
  }

  .timeline ul li::before {
    content: "";
    margin-top: 30px;
    width: 20px;
    height: 20px;
    background-color: var(--timeline-circle);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
    z-index: 1;
  }

  .content {
    margin-top: 10px;
  }

  /* Override to not set a margin to the 1st content */
  .timeline ul li:first-child::before {
    margin-top: 0;
  }
}

/* Bigger devices */
@media only screen and (min-width: 600px) {
  .timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
  }

  .timeline ul li:nth-child(odd) {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
  }

  .timeline ul li:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: 24px;
    right: -11px;
    width: 20px;
    height: 20px;
    background-color: var(--timeline-circle);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
  }

  .timeline ul li:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
    left: 50%;
  }

  .timeline ul li:nth-child(even)::before {
    content: "";
    position: absolute;
    top: 24px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: var(--timeline-circle);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
  }

  .time {
    background-color: var(--time);
    color: var(--time-text);
    border-radius: 18px;
    margin-top: 5px;
    padding: 8px 16px;
  }

  /* Override to not set a margin to the 1st content */
  .timeline ul li:first-child::before {
    margin-top: -25px;
  }

  .timeline ul li:first-child {
    padding-top: 0;
  }
}

/* Much bigger devices ;) */
@media only screen and (min-width: 1500px) {
  #profile-image {
    height: 60vh;
    width: 60vh;
  }
}
